body {
    @include generalspace(100%, 0, 0, $mainColor);
    font-size: $fontSize;
    font-weight: 300;
    font-family: $fontFamily;
    margin: 0;
    

    .header{
        @include generalspace(100%, 20px, 10px, $mainColor);
        @include flexbox();
        background-color: #f76ea6;
        box-sizing: border-box;

        & .header__icon{
            width: 35px;
            cursor: pointer;
            display: inline-block;
        }

        & .header__logo{
            width: 100px;
        }
        
        & .header__cart{
            position: relative;
            display: inline-block;
        }

        & .header__cartBadge{
            position: absolute;
            top: -6px;
            right: -6px;
            background-color: rgb(145, 2, 2);
            color: #fff;
            font-size: 0.7rem;
            border-radius: 50%;
            padding: 4px 7px;
            display: none;
        }
    }

    .banner{
        @include generalspace(100%, 80px, 0px, #fff);
        @extend %align;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 85%;

        & .banner__title{ 
            font-weight: 700; 
            font-size: 35px;  
        }

        & .banner__text{
            width: 100%;
            margin: 0 auto;
            font-size: 25px;
            opacity: 0.7;
        }
    }

    .products {
        @include generalspace(80%, 20px, 20px, $mainColor);
        margin: 0 auto;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        & .products__item{ 
            cursor: pointer;
            text-align: center;
        }

        & .products__img{
            width: 200px;
            margin-bottom: 15px;
        }

        & .products__title{
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 5px;
        }

        & .products__price{
            font-weight: 300;
            font-size: 15px;
            &.red{
                color: #e70b67;
                font-weight: 600;
            }
            &.blue{
                color: #0b58e7;
                font-weight: 600;
            }
        }
        
        & .products__button{
            @extend %generalButton;
            width: 60%;
            box-shadow: none;
            margin-bottom: 20px;
        }

        & .products__button:hover{
            @extend %generalButtonHover;
        }
    }

    

    .cart {
        @include generalspace(500px, 25px, 25px, $mainColor);
        background-color: #fff;
        box-sizing: border-box;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 100px;
        box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.30);
        transition: all .30s ease;
        
        &.show{
            right: 0;
        }

        & .cart__name {
            @include generalspace(100%, 25px, 0px, $mainColor);
            @extend %align;
            font-weight: 600;
            box-sizing: border-box;
        }

        & .cart__item{
            @include flexbox();
            border-bottom: 1 solid #f76ea6;
            padding: 20px;
            box-sizing: border-box;
        }

        & .cart__img{
            width: 60px;
        }

        & .cart__price{
            font-weight: 500;
        }

        & .cart__icon{
            width: 25px;
            cursor: pointer;
        }
        
        & .cart__button{
            @extend %generalButton;
        }

        & .cart__button:hover{
            @extend %generalButtonHover;
        }
    }

    .myAside {
        @include generalspace (500px, 25px, 25px, $mainColor);
        background-color: #fff;
        box-sizing: border-box;
        height: 100%;
        position: fixed;
        left:-100%;
        top: 100px;
        box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.30);
        transition: all .35s ease;

        &.showAside{
            left: 0;            
        }

        & .myAside__name{
            @include generalspace(100%, 5px, 0px, $mainColor);
            text-align: left;
            font-weight: 600;
            box-sizing: border-box;   
        }

        & .myAside__closeIcon{
            width: 25px;
            cursor: pointer;
        }

        & .myAside__closeIcon:hover{
                transform: scale(1.5);
            }

        & .myAside__item{
            @include flexbox();
            border-bottom: 1 solid #f76ea6;
            padding: 20px;
            box-sizing: border-box;
        }

        & .myAside__img{
            width: 60px;
        }

        & .myAside__price{
            font-weight: 500;
        }

        & .myAside__removeIcon{
            width: 25px;
            cursor: pointer;
        }
        & .myAside__button{
            @extend %generalButton;
        }
        & .myAside__button:hover{
            @extend %generalButtonHover;
        }
    }
}



@media (max-width: 820px){
    .header{
        padding: 15px;
    }

    .header__logo{
        width: 60px;
    }

    .header__icon{
        width: 30px;
    }

    .products{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .products__img{
        width: 150px;
    }

    .cart{
        width: 400px;
        top: 80px;
    }
}

@media (max-width: 480px){
    .banner{
        padding: 30px 0;
    }

    .banner__title {
        font-size: 18px;
    }

    .banner__text{
    font-size: 16px;
    }

    .products{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .products__img{
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
    }

    .products__title,
    .products__price{
        padding: 0 10px;
    }

    .cart{
        width: 100%;
        box-shadow: none;
    }

    .cart__name{
        padding: 15px 0;
    }

    .cart__item{
        flex-direction: column;
        align-items: center;
    }

    .cart__img{
        width: 100px;
    }

    .cart p{
        margin: 0;
    }
}